$body-background-dark: #0d1117;
$body-background-light: #fff;
$body-background-green-light: #ecfff5;

$components-background-dark: #4f4f4f;
$components-background-light: #fff;

$light-color: #fff;
$dark-color: #000;
$green-color: #35e032;

:root {
  //body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});
  --body-background-green-light: #{$body-background-green-light};

  //components-background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});
  --components-background-green: #{$green-color};

  //text
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-light});

  --body-background: #fff;
  --text-color: #000;
}

:root[data-theme="light"] {
  --body-background: #fff;
  --text-color: #000;
}

:root[data-theme="dark"] {
  --body-background: #0d1117;
  --text-color: #fff;
}
