@import "../../../styles/variables.module.scss";

//REF
.ref {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 25px;
  gap: 10px;
}
.ref_item {
  padding: 16px 0 16px 10px;
  min-width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: black;
  height: 50px;
  border-radius: 14px;
  background: var(#{--components-background-light});
  box-shadow: 0 0 10px 0 rgba(212, 212, 212, 0.5);
}
.ref_item:after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateX(-10px) rotate(-315deg);
  right: 0;
  width: 12px;
  height: 12px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #000;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  z-index: 111;

  .dropdown_item {
    padding: 10px;
    font-size: 14px;
    color: black;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }
}
.dropdown_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.top_container {
  display: flex;
  gap: 24px;
  margin-bottom: 25px;
}

.bottom_container {
  display: flex;
  gap: 24px;
  margin-bottom: 25px;
}

// GRAPH
.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  width: 751px;
  height: 375px;
  box-shadow: 0 0 12px 0 rgba(212, 212, 212, 0.5);
  background: $components-background-light;
}

// ANALYSIS
.analysis {
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  width: 363px;
  box-shadow: 0 0 12px 0 rgba(212, 212, 212, 0.5);
  background: $components-background-light;
}
.analysis_title {
  display: flex;
  align-self: flex-start;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.analysis_text_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 55px;
  row-gap: 5px;
}

// OPERATIONS
.operations {
  padding: 35px 24px;
  border-radius: 17px;
  width: 363px;
  box-shadow: 0 0 12px 0 rgba(212, 212, 212, 0.5);
  background: $components-background-light;
}
.operations_title {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}
.operations_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.operations_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.operations_name {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
}
.operations_date {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
.operations_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

// ASSETS
.assets {
  padding: 36px 25px;
  border-radius: 17px;
  width: 751px;
  box-shadow: 0 0 12px 0 rgba(212, 212, 212, 0.5);
  background: $components-background-light;
}
.assets_title {
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}
.assets_content {
  display: flex;
  gap: 25px;
}
.assets_block {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.assets_block_title {
  position: relative;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;

  &::after {
    content: "";
    width: 11px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url("../../../assets/switch.svg");
    background-size: cover;
    background-position: center;
  }
}
.assets_block_item {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

// RISKS
.risks {
  padding: 24px;
  border-radius: 17px;
  width: 100%;
  box-shadow: 0 0 12px 0 rgba(212, 212, 212, 0.5);
  background: $components-background-light;
}
