@import "../../styles/variables.module.scss";
@import "../../styles/index.module.scss";

.container {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $body-background-light;
  margin-right: 20px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
}
.logo {
  padding: 20px 25px 33px;
}

.logo a {
  text-decoration: none;
}

.sidebar_container__pages {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.sidebar_nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.sidebar_nav,
.pages_item_icon,
.pages_item_label li {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $dark-color;
}

.pages_item_label {
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: $dark-color;
  font-weight: 500;
}

.pages_item_icon {
  display: flex;
  flex-direction: column;
  gap: 19.5px;
}

.sidebar_bottom {
  display: flex;
  margin-bottom: 20px;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.change_lang {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: black;
  display: flex;
  gap: 48px;
}
.change_lang_item {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: $dark-color;
  margin-bottom: 20px;
}

.change_lang_item:after {
  color: $dark-color;
  content: "";
  position: absolute;
  top: 63%;
  transform: translateY(-50%) rotate(-135deg);
  right: 0;
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
}

.change_theme {
  display: flex;
  gap: 38px;
  margin-bottom: 37px;
  margin-left: 18px;
  .change_theme_item {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $dark-color;
  }
}

.change_theme_item a {
  text-decoration: none;
  cursor: pointer;
}

.confidentiality {
  font-weight: 400;
  font-size: 10px;
  line-height: 200%;
  color: $dark-color;
}
